.App {
  padding-top: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

button {
  color: white;
  background-color: rebeccapurple;
  border-radius: 4px;;
}

.task {
  border: 2px solid rebeccapurple;
  width: 800px;
  padding-bottom: 10px;
}
.taskItem {
  align-items: center;
  align-content: center;
  padding-top: 25px;
}

input {
  appearance: none;
	border: none;
	outline: none;
	border-bottom: .2em solid rebeccapurple;
	background: rgba(rebeccapurple, .2);
	border-radius: .2em .2em 0 0;
	padding: .4em;
	color: rebeccapurple;
}

.heading {
  color: rebeccapurple;
}